pydantic==2.7.0
langchain==0.1.10
openai==1.13.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
instructor==0.5.2
regex
crewai-tools==0.1.7
click==8.1.7
python-dotenv==1.0.0
embedchain==0.1.98
appdirs==1.4.4
agentops==0.1.6